<h1>Willkommen!</h1>
<div class="welcome-option">
    <p>Erstelle einen Automaten, indem du im linken Fenster doppelklickst, um Zustände zu erstellen, und ziehe dann Übergänge zwischen ihnen.</p>
  </div>
  <div class="welcome-separator">
    <hr class="line">
    <span>ODER</span>
    <hr class="line">
  </div>
  <div class="welcome-option">
    <p>Wähle im Menü oben links eine fertige Übungsaufgabe aus.<br>  
      Am besten beginnst du mit dem Vorlesungsbeispiel und aktivierst den Lernmodus, indem du auf das Minus-Symbol klickst.</p>  </div>
<button mat-raised-button color="primary" (click)="closeDialog()" class="modern-button">Los geht's!</button>
