:host {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  gap: 10px;
}

.modern-button {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer; 
}

.modern-button:hover {
  background-color: rgb(215, 215, 215) !important;
}

.spacer {
  flex: 1 1 auto;
}