<!-- Menu component with a base URL for navigation -->
<app-menu baseURL="../"></app-menu>

<!-- Spacer element for layout -->
<span class="spacer"></span>

<!-- Button to trigger the action to display the DFA table -->
<button mat-raised-button color="primary" (click)="openTutorialTable()" class="modern-button">
    Anleitung
</button>

<!-- Button to trigger the action to display the DFA table -->
<button mat-raised-button color="primary" (click)="openDfaTable()" class="modern-button">
    Lösung anzeigen
</button>