:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  gap: 5px;
  padding: 5px 5px 5px 5px;
  overflow: auto;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}

.item {
  border-radius: 5px;
  border: 1px solid black;
  background-color: #ddd;
  overflow: auto;
  flex-grow: 1;
  min-width: 0;
  overflow: auto;
}

.app-core {
  min-width: 500px; 
  min-height: 500px; 
  height: 100%; 
  flex-grow: 1;
}