<h1>Anleitung</h1>
<ol>
    <li>
        <strong>Startzustand festlegen:</strong> 
        Beginne mit dem Startzustand. Diesen erkennst du an dem eingehenden Startpfeil. 
        Schreibe ihn in die erste Zelle und markiere ihn mit einem <code>(A)</code>.
        <br>z.B. <code>S0 (A)</code>
    </li>
    <li>
        <strong>Übergänge analysieren:</strong> 
        Von diesem Startzustand aus untersuchst du, 
        wohin du mit den Übergangssymbolen in der obersten Zeile der Tabelle gelangen kannst. 
        Für jedes Übergangssymbol trägst du den Zustand oder die Zustände ein, in die du gelangst. 
        Wenn durch ein Symbol mehrere Zustände erreicht werden, 
        trägst du diese mit einem Komma getrennt hintereinander ein und behandelst sie wie einen einzigen Zustand.        </li>
    <li>
        <strong>Zustände eintragen:</strong> 
        Trage jeden neu erstellten Zustand, also jeden Zustand oder jede Kombination von Zuständen, 
        die durch die Übergangssymbole erreicht werden, in die erste Spalte der Tabelle ein. 
        Jeder neue Zustand erhält eine eigene Zeile.
        <br>z.B. <code>S0, S1</code>
    </li>
    <li>
        <strong>Endzustände kennzeichnen:</strong> 
        Gehe die erste Spalte durch und überprüfe jeden Zustand. 
        Wenn ein neuer Zustand den Endzustand des NFAs enthält, markiere ihn mit einem <code>(E)</code>. 
        <br>z.B. <code>S0, S3 (E)</code>
    </li>
</ol>
