h1 {
    text-align: center;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid #65a800;
}

strong {
    color: #65a800;
}

code {
    background: #eaeaea;
    padding: 2px 4px;
    border-radius: 4px;
}
